body {
  font-size: 16px;
  /* color: #fff; */
  background-color: #FFFFFF;
  font-family: 'Oxygen', sans-serif;
}

.navbar-brand h1 {
	color: #72747a;
	font-size: 1.5em; 
	margin-top: 0;
	margin-bottom: 0; 
}

.navbar-brand {
	padding-top: 10px; 
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

/*	background-color: #dde2e3;
	border-radius: 0;
	border-color: #929192;
	border: 0;
}
*/

#nav-list a {
  color: #951C49;
  text-align: center;
 }

 /* MAIN */

 h1 {
  margin: 30px;
  margin-top: 10px;
  font-style: bold;
  font-size: 175%;
}

 #chicken-tile, #beef-tile, #sushi-tile {
 	
 	width: 100%;
 	position: relative;
 	border: 1px solid #e7e7e7; 
 	background-color: #f8f9fa;
 	overflow: hidden;
 	margin-bottom: 30px;

 }

 h3 {
	color: #72747a;
	font-size: 1.25em; 
 }

 #content p {
 	padding: 0px 20px 0px 20px;
 	color: #72747a;
 }